<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523723269138-h4gkn30r6njrl85o1s79imjvdle1vklb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523723269138-h4gkn30r6njrl85o1s79imjvdle1vklb</string>
	<key>API_KEY</key>
	<string>AIzaSyCavT96GYrJ4mJ-lV-mii7XqkWDWuBaSPI</string>
	<key>GCM_SENDER_ID</key>
	<string>523723269138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.unumID.Kredita</string>
	<key>PROJECT_ID</key>
	<string>unumid-e8741</string>
	<key>STORAGE_BUCKET</key>
	<string>unumid-e8741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523723269138:ios:dfd6cd57520d868b0d24cb</string>
</dict>
</plist>